In [3]:
# Read in the dataset
import csv
import pandas as pd

data = pd.read_csv("data/covars_and_biological_ds5500.csv")

data.head()

,STUDYID,ED,CURRJOB,FVINC,SMKEVER,SMK,SMK100,SMKYRS,LASTCIG,SMKDAILY_MY,...,_8_ISO_V4,_8_ISOM_V1,_8_ISOM_V2,_8_ISOM_V3,_8_ISOM_V4,PRETERM_BEST,FINALGA_BEST,SPECIFICGRAVITY_V1,SPECIFICGRAVITY_V2,SPECIFICGRAVITY_V3
0,1001,14.0,2.0,999.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,37.428571,1.019,1.024,1.019
1,1006,12.0,2.0,888.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,39.571429,1.018,1.028,1.028
2,1009,14.0,2.0,1.0,1.0,0.0,0.0,0.0,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0,38.857143,1.027,1.020,1.025
3,1012,8.0,2.0,1.0,1.0,0.0,0.0,0.0,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0,37.285714,1.027,NaN,1.028
4,1013,9.0,2.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,38.857143,1.016,1.018,1.026